# Global
.DS_Store
.env
*.log
*.tmp
*.swp
*.swo
.idea/
.vscode/
*.bak

# Node/Backend
node_modules/
dist/
coverage/
npm-debug.log
yarn-error.log
package-lock.json

# Expo/React Native App
cheer-app-client/.expo/
cheer-app-client/.expo-shared/
cheer-app-client/node_modules/
cheer-app-client/web-build/
cheer-app-client/android/
cheer-app-client/ios/
cheer-app-client/package-lock.json
cheer-app-client/metro.config.js
cheer-app-client/babel.config.js

# Optional: OS-specific
Thumbs.db
ehthumbs.db
Icon?
